.logo-image{
    width: 150px;
    height: 75px;
}

.btn,.myform{
    background-color: #29aae1;
    border: 0;
    color: white;
}

.internal-activity{
    background-color: darkgreen;
    border: 0;
    color: white;
}

.project-activity{
    background-color: darkblue;
    border: 0;
    color: white; 
}